    <!-- Process Section -->
    <section id="process" class="content-section text-center">
        <div class="process-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>The Process</h2>
                    <p>You reach out to us. We can respond with work references and resume.
                    <br />
                    We will then setup a free consultation. We will explore your needs and determine a best course forward.
                    <br />
                    A statement of work will be provided as well as a time estimate for the project.</p>
                    <br />
                    <p>Get started by contacting us below!</p>
                </div>
            </div>
        <a href="#contact" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
        </div>
    </section>